BREVO_SMS_API_KEY=xxx
SMPT_HOST=xxx
SMPT_KEY=xxx
SMPT_LOGIN=xxx
SMPT_PORT=xxx

STRIPE_SECRET_KEY=xxx
STRIPE_WEBHOOK_SECRET=xxx

SUPABASE_ANON_KEY=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx
SUPABASE_URL=xxx

X_RAPID_API_KEY=xxx

# crm-saas project (ID: ocazbfmddzvkmsqtbojj)
SUPABASE_URL_CRM=xxx
SUPABASE_ANON_KEY_CRM=xxx
SUPABASE_KEEPALIVE_TABLE_CRM=xxx
